/* 
Creator: Matthew Gerszewski
Date created: Jan 16, 2020
Date last modified: Jan 18, 2020
Most recent revision: 0
*/

h1 {
  font-size: 3.5em;
  color: red;
  animation-name: lucky-sevens-pulse;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes lucky-sevens-pulse {
  0% {color: red;}
  50% {color: blue;}
}

button {
  background-color: #e8ebf7;
}

table, td {
  border: 1px solid black;
  margin: 0 auto;
}

table {
  border: 3px solid black;
  display: none;
}

#resultsHead {
  display: none;
}

tbody tr:nth-child(1) {
  background-color: lightgray;
}

tbody tr:nth-child(even) {
  background-color: whitesmoke;
}

footer {
  text-align: center;
}